<dx-popup [hideOnOutsideClick]="false" [showCloseButton]="true" [(visible)]="modalVisible" [dragEnabled]="false"
  title="Base/Custom Parameter Advanced Settings" height="80vh" width="80vw">
  <dx-scroll-view>
    <div style="margin: 20px; display: flex; gap: 40px; flex-wrap: wrap">
      <!-- left block -->
      <div style="flex: 1; min-width: 300px;">
        <h5>Normalize Values:</h5>
        <div *ngFor="let opt of normalizationOptions" class="mb-2">
          <p-checkbox [binary]="true" [label]="opt.text" [value]="opt.value" [ngModel]="normalizeValue === opt.value"
            (onChange)="onSelectNormalize(opt.value)"></p-checkbox>
        </div>

        <dx-number-box *ngIf="normalizeValue === normalizeTypes.VALUE" [(value)]="normalizeNominalValue"
          placeholder="Normalization Value" [min]="0" class="mt-2"></dx-number-box>

        <h5 class="mt-4">Exclude Flagged:</h5>
        <div *ngFor="let opt of excludeFlaggedOptions" class="mb-2">
          <p-checkbox [binary]="true" [label]="opt.text" [ngModel]="excludeFlagged === opt.value"
            (onChange)="onSelectExcludeFlagged(opt.value)"></p-checkbox>
        </div>

        <div *ngIf="excludeFlagged === excludeFlaggedTypes.UserSelected" class="mt-3">
          <p-multiSelect [options]="flaggingEvents" [(ngModel)]="selectedFlagEvents" optionLabel="description"
            optionValue="eventClass" placeholder="Select events" display="chip" [showClear]="true" [filter]="true"
            styleClass="w-100"></p-multiSelect>
        </div>

        <h5 class="mt-4">Set Color Schemes:</h5>
        <h6>Select Out of Limit Mode:</h6>
        
        <div class="d-flex flex-column gap-1 mb-2">
          <p-radioButton name="colorMode" [value]="colorSchemaTypes.None" [(ngModel)]="colorScheme"
            label="No color highlight"></p-radioButton>
        
          <p-radioButton name="colorMode" [value]="colorSchemaTypes.OutOfLimit" [(ngModel)]="colorScheme"
            label="Out of limits color"></p-radioButton>
        </div>
        
        <div *ngIf="colorScheme === colorSchemaTypes.OutOfLimit" class="mt-2">
          <dx-color-box [(value)]="outOfLimitColor" placeholder="Out-of-limit Color"></dx-color-box>
        </div>

        <h5>Fonts</h5>
        <div class="font-section">
          <div class="font-row">
            <label>Title</label>
            <dx-select-box [items]="fontFamilies" [(value)]="titleFont.family" placeholder="font family">
            </dx-select-box>

            <dx-number-box [(value)]="titleFont.size" placeholder="font size" [min]="8" [max]="50">
            </dx-number-box>

            <div class="font-color">
              <label>font color</label>
              <dx-radio-group [items]="colorOptions" displayExpr="text" valueExpr="id" [(value)]="titleFont.colorMode">
              </dx-radio-group>

              <dx-color-box *ngIf="titleFont.colorMode === 'custom'" [(value)]="titleFont.customColor"
                [editAlphaChannel]="true">
              </dx-color-box>
            </div>
          </div>

          <div class="font-row">
            <label>Value</label>
            <dx-select-box [items]="fontFamilies" [(value)]="valueFont.family" placeholder="font family">
            </dx-select-box>

            <dx-number-box [(value)]="valueFont.size" placeholder="font size" [min]="8" [max]="50">
            </dx-number-box>

            <div class="font-color">
              <label>font color</label>
              <dx-radio-group [items]="colorOptions" displayExpr="text" valueExpr="id" [(value)]="valueFont.colorMode">
              </dx-radio-group>

              <dx-color-box *ngIf="valueFont.colorMode === 'custom'" [(value)]="valueFont.customColor"
                [editAlphaChannel]="true">
              </dx-color-box>
            </div>
          </div>
        </div>

        <!-- Unit Section -->
        <h5>Units</h5>
        <div class="">
          <dx-radio-group [(value)]="unitType" [items]="unitOptions" layout="vertical" valueExpr="value"
            displayExpr="text">
          </dx-radio-group>

          <div *ngIf="unitType === 'selection'" class="w-25">
            <dx-select-box [items]="unitSelectionOptions" [(value)]="selectedUnit" placeholder="Select unit...">
            </dx-select-box>
          </div>
        </div>

        <!-- Markers Section -->
        <h5>Markers</h5>
        <div class="row mb-3">
          <div class="col-2">
            <label>Marker1:</label>
            <dx-select-box [items]="markerOptions" [(value)]="marker1" valueExpr="value" displayExpr="text">
            </dx-select-box>
          </div>

          <div class="col-2">
            <label>Marker2:</label>
            <dx-select-box [items]="markerOptions" [(value)]="marker2" valueExpr="value" displayExpr="text">
            </dx-select-box>
          </div>
        </div>

        <!-- Link Section -->
        <h5>Link</h5>
        <div class="link-section">
          <label>select PQBI page</label>
          <dx-select-box
            [items]="pqbiPages"
            displayExpr="name"
            valueExpr="id"
            [(value)]="link.page"
            placeholder="Select PQBI page"
          >
          </dx-select-box>
        </div>
      </div>

      <!-- right block -->
      <div style="flex: 1; min-width: 300px;">


 
        
        <gaugeWidgetSegmentationSettings
          #segmentation
          [segments]="segments"
          (segmentsChange)="onSegmentsChange($event)"
          (validityChange)="onSegmentsValidityChange($event)"
          (totalWeightChange)="onSegmentsTotalWeightChange($event)">
        </gaugeWidgetSegmentationSettings>

        <h6 class="mt-3">Decimal points:</h6>
        <dx-select-box class="w-25" [(value)]="decimalPoints" [items]="decimalPointOptions"
          placeholder="Select decimal points"></dx-select-box>
      </div>
    </div>

    <!-- buttons -->
    <div class="d-flex justify-content-center mt-4 mb-3 gap-4">
      <dx-button text="Cancel" (onClick)="hide()" stylingMode="contained" [width]="140" [height]="48"></dx-button>
      <dx-button text="OK" type="success" (onClick)="save()" stylingMode="contained" [width]="140"
      [height]="48" [disabled]="!canSave"></dx-button>
    </div>
  </dx-scroll-view>
</dx-popup>