<dx-popup
  [hideOnOutsideClick]="false"
  [showCloseButton]="true"
  [(visible)]="modalVisible"
  [dragEnabled]="false"
  title="Base/Custom Parameter Advanced Settings"
  height="80vh"
  width="80vw"
>
  <dx-scroll-view>
    <div style="margin: 20px; display: flex; gap: 40px; flex-wrap: wrap">
      <!-- Левый блок -->
      <div style="flex: 1; min-width: 300px;">
        <h5>Normalize Values:</h5>
        <div *ngFor="let opt of normalizationOptions" class="mb-2">
          <p-checkbox
            [binary]="true"
            [label]="opt.text"
            [value]="opt.value"
            [ngModel]="normalizeValue === opt.value"
            (onChange)="onSelectNormalize(opt.value)"
          ></p-checkbox>
        </div>

        <dx-number-box
          *ngIf="normalizeValue === normalizeTypes.VALUE"
          [(value)]="normalizeNominalValue"
          placeholder="Normalization Value"
          [min]="0"
          class="mt-2"
        ></dx-number-box>

        <h5 class="mt-4">Exclude Flagged:</h5>
        <div *ngFor="let opt of excludeFlaggedOptions" class="mb-2">
          <p-checkbox
            [binary]="true"
            [label]="opt.text"
            [ngModel]="excludeFlagged === opt.value"
            (onChange)="onSelectExcludeFlagged(opt.value)"
          ></p-checkbox>
        </div>

        <div *ngIf="excludeFlagged === excludeFlaggedTypes.UserSelected" class="mt-3">
          <p-multiSelect
            [options]="flaggingEvents"
            [(ngModel)]="selectedFlagEvents"
            optionLabel="description"
            optionValue="eventClass"
            placeholder="Select events"
            display="chip"
            [showClear]="true"
            [filter]="true"
            styleClass="w-100"
          ></p-multiSelect>
        </div>

        <div *ngIf="chartType!=='barchart'">
          <h5 class="mt-4">Tag Value Calculation:</h5>
          <div class="mb-2">
            <p-checkbox [binary]="true" label="Ignore aligning function" [(ngModel)]="aligningIgnored"></p-checkbox>
          </div>
          <div class="mb-2">
            <p-checkbox [binary]="true" label="Replace the parameter’s Aggregation with" [(ngModel)]="replaceAggregation"
              (onChange)="onSelectReplaceAggregation()"></p-checkbox>
          </div>
        </div>

        <dx-select-box
          *ngIf="replaceAggregation"
          [(value)]="customAggregationFunc"
          [items]="aggregationFuncOptions"
          displayExpr="text"
          valueExpr="value"
          placeholder="Select aggregation function"
        ></dx-select-box>
      </div>

      <!-- Правый блок -->
      <div style="flex: 1; min-width: 300px;">
        <h5>Set Lower and Upper Limits:</h5>
        <div *ngFor="let opt of limitOptions" class="mb-2">
          <p-checkbox
            [binary]="true"
            [label]="opt.text"
            [ngModel]="setLimits === opt.value"
            (onChange)="onSelectLimitType(opt.value)"
          ></p-checkbox>
        </div>

        <div *ngIf="setLimits" class="mt-3 d-flex flex-column gap-2">
          <dx-number-box [(value)]="lowerLimit" placeholder="Lower Limit" [min]="0"></dx-number-box>
          <dx-number-box [(value)]="upperLimit" placeholder="Upper Limit" [min]="0"></dx-number-box>
        </div>

        <h5 class="mt-4">Set Color Schemes:</h5>
        <h6>Select Out of Limit Mode:</h6>

        <div class="d-flex flex-column gap-1 mb-2">

            <p-radioButton
                name="colorMode"
                [value]="colorSchemaTypes.None"
                [(ngModel)]="colorScheme"
                label="No color highlight"
            ></p-radioButton>

          <p-radioButton
            name="colorMode"
            [value]="colorSchemaTypes.OutOfLimit"
            [(ngModel)]="colorScheme"
            label="Out of limits color"
          ></p-radioButton>

          <p-radioButton
            name="colorMode"
            [value]="colorSchemaTypes.Gradient"
            [(ngModel)]="colorScheme"
            label="Out of limits gradient"
          ></p-radioButton>
        </div>

        <div *ngIf="colorScheme === colorSchemaTypes.Gradient" class="mt-2 d-flex gap-2">
          <dx-color-box
            [(value)]="gradientFromColor"
            placeholder="From Color"
            (onClosed)="onColorClosed('from')"
          ></dx-color-box>
          <dx-color-box
            [(value)]="gradientToColor"
            placeholder="To Color"
            (onClosed)="onColorClosed('to')"
          ></dx-color-box>
        </div>

        <div *ngIf="colorScheme === colorSchemaTypes.OutOfLimit" class="mt-2">
          <dx-color-box [(value)]="outOfLimitColor" placeholder="Out-of-limit Color"></dx-color-box>
        </div>

        <h6 class="mt-3">Additional colors:</h6>
        <div class="d-flex align-items-center gap-3 mb-2">
          <p-checkbox
            [(ngModel)]="useOkColor"
            binary="true"
            label="Ok color"
            inputId="okColorCheckbox"
          ></p-checkbox>

          <p-checkbox
            [(ngModel)]="useNoDataColor"
            binary="true"
            label="No data color"
            inputId="noDataColorCheckbox"
          ></p-checkbox>
        </div>

        <div *ngIf="useOkColor || useNoDataColor" class="mt-2 d-flex gap-2">
          <dx-color-box
            *ngIf="useOkColor"
            [(value)]="okColor"
            placeholder="OK Color"
          ></dx-color-box>
          <dx-color-box
            *ngIf="useNoDataColor"
            [(value)]="noDataColor"
            placeholder="No Data Color"
          ></dx-color-box>
        </div>
      </div>
    </div>

    <!-- Кнопки -->
    <div class="d-flex justify-content-center mt-4 mb-3 gap-4">
      <dx-button
        text="Cancel"
        (onClick)="hide()"
        stylingMode="contained"
        [width]="140"
        [height]="48"
      ></dx-button>
      <dx-button
        text="OK"
        type="success"
        (onClick)="save()"
        stylingMode="contained"
        [width]="140"
        [height]="48"
      ></dx-button>
    </div>
  </dx-scroll-view>
</dx-popup>
