<div class="p-2">
    <label class="form-label" for="custom-parameter-selector-listbox">{{'Group' | localize }} *</label>
</div>
<div [style]="scrollHeight">
    <dx-scroll-view direction="vertical">
        <p-listbox id="custom-parameter-selector-listbox" [(ngModel)]="selectedCustomParameter" (ngModelChange)="onSelectionChanged()" [options]="customParameterOptions"
            optionLabel="name" optionValue="id" [filter]="true" [virtualScroll]="false"
            [scrollHeight]="9999" required />
    </dx-scroll-view>
</div>