<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="Nexus Nuget Hosted" value="https://nexus.elspec.local:8443/repository/nuget-hosted/index.json"/>
		<add key="Nexus Nuget Proxy" value="https://nexus.elspec.local:8443/repository/nuget.org-proxy/index.json" protocolVersion="3"/>
	</packageSources>
	<config>
		<add key='maxHttpRequestsPerSource' value='5'/>
	</config>
</configuration>
 