<h3>Segmentation:</h3>
<div class="segmentation">
  <div class="form">
    <dx-text-box [(value)]="name" placeholder="Name"></dx-text-box>
    <dx-number-box [(value)]="from" placeholder="Start Value"></dx-number-box>
    <dx-number-box [(value)]="to" placeholder="End Value"></dx-number-box>
    <dx-number-box [(value)]="weight" placeholder="Weight %" [step]="0.1" [min]="0.1" [showSpinButtons]="true"
      hint="How much of the gauge this segment occupies visually." [focusStateEnabled]="true"></dx-number-box>

    <div class="mt-2">
      <dx-color-box [(value)]="color"></dx-color-box>
    </div>

    <dx-button *ngIf="!isEditingSegment" text="+ Add" type="default" stylingMode="contained" (onClick)="addSegment()">
    </dx-button>
    <dx-button *ngIf="isEditingSegment" text="Save" type="default" stylingMode="contained" (onClick)="saveEditedSegment()">
    </dx-button>
    <dx-button *ngIf="isEditingSegment" text="Cancel" type="danger" stylingMode="contained"
      (onClick)="cancelEditedSegment()">
    </dx-button>


  </div>

  <div class="table mt-4">
    
    <dx-data-grid [dataSource]="segments" [showBorders]="true" keyExpr="id" [focusedRowEnabled]="true"
      [focusedRowKey]="selectedSegmentId" (onFocusedRowChanged)="onFocusedRowChanged($event)"
      (onRowPrepared)="onRowPrepared($event)">

      <dxi-column dataField="name" caption="Name"></dxi-column>
      <dxi-column dataField="from" caption="From"></dxi-column>
      <dxi-column dataField="to" caption="To"></dxi-column>
      <dxi-column dataField="weight" caption="Weight %"></dxi-column>

      <dxi-column caption="Color" [cellTemplate]="'colorCell'"></dxi-column>
      <dxi-column caption="Actions" [cellTemplate]="'actionsCell'"></dxi-column>

      <div *dxTemplate="let data of 'colorCell'">
        <div [style.background]="data.data.color" style="width:20px;height:20px;border:1px solid #000;">
        </div>
      </div>

      <div *dxTemplate="let data of 'actionsCell'">
        <dx-button icon="edit" stylingMode="text" (onClick)="editSegment(data.data)"></dx-button>
        <dx-button icon="trash" stylingMode="text" (onClick)="deleteSegment(data.rowIndex)">
        </dx-button>
      </div>
      
    </dx-data-grid>
    <div class="segment-error" [class.segment-error--hidden]="!segmentError">
      {{ segmentError || '\u00A0' }}
    </div>  
    <div class="segment-hint" *ngIf="segmentHint">{{ segmentHint }}</div>
    <div class="boundary-error" *ngIf="boundaryErrorMessage">{{ boundaryErrorMessage }}</div>
<div class="weight-indicator" [class.invalid]="isTotalWeightExceeded">
      Total weight: {{ totalWeight | number: '1.0-3' }} / {{ TOTAL_WEIGHT }}
    </div>
    <div class="weight-error" *ngIf="isTotalWeightExceeded">
      Total weight exceeds 100% by {{ totalWeightOverflow | number: '1.0-3' }}%. Adjust the segment weights.
    </div>
</div>