<h3>Segmentation:</h3>
<div class="segmentation">
  <div class="form">
    <div class="form-row">
      <label>Name:</label>
      <dx-text-box [(value)]="name"></dx-text-box>
    </div>
    <div class="form-row">
      <label>Start Value:</label>
      <dx-number-box [(value)]="from"></dx-number-box>
    </div>
    <div class="form-row">
      <label>End Value:</label>
      <dx-number-box [(value)]="to"></dx-number-box>
    </div>
    <div class="form-row">
      <label>Weight %:</label>
      <div class="form-control-stack">
        <dx-number-box [(value)]="weight" [step]="0.1" [min]="0.1" [showSpinButtons]="true"
          [focusStateEnabled]="true"></dx-number-box>
        <div class="form-hint">How much of the gauge this segment occupies visually.</div>
      </div>
    </div>

    <div class="form-row">
      <label>Color:</label>
      <dx-color-box [(value)]="color"></dx-color-box>
    </div>

    <dx-button *ngIf="!isEditingSegment" text="+ Add" type="default" stylingMode="contained" (onClick)="addSegment()">
    </dx-button>
    <dx-button *ngIf="isEditingSegment" text="Save" type="default" stylingMode="contained" (onClick)="saveEditedSegment()">
    </dx-button>
    <dx-button *ngIf="isEditingSegment" text="Cancel" type="danger" stylingMode="contained"
      (onClick)="cancelEditedSegment()">
    </dx-button>


  </div>

  <div class="table mt-4">
    
    <dx-data-grid [dataSource]="segments" [showBorders]="true" keyExpr="id" [focusedRowEnabled]="true"
      [focusedRowKey]="selectedSegmentId" (onFocusedRowChanged)="onFocusedRowChanged($event)"
      (onRowPrepared)="onRowPrepared($event)">

      <dxi-column dataField="name" caption="Name"></dxi-column>
      <dxi-column dataField="from" caption="From"></dxi-column>
      <dxi-column dataField="to" caption="To"></dxi-column>
      <dxi-column dataField="weight" caption="Weight %"></dxi-column>

      <dxi-column caption="Color" [cellTemplate]="'colorCell'"></dxi-column>
      <dxi-column caption="Actions" [cellTemplate]="'actionsCell'"></dxi-column>

      <div *dxTemplate="let data of 'colorCell'">
          <div [style.background]="data.data.color" style="width:20px;height:20px;border:1px solid #000;">
        </div>
      </div>

      <div *dxTemplate="let data of 'actionsCell'">
        <dx-button icon="edit" stylingMode="text" (onClick)="editSegment(data.data)"></dx-button>
        <dx-button icon="trash" stylingMode="text" (onClick)="deleteSegment(data.rowIndex)">
        </dx-button>
      </div>
      
    </dx-data-grid>
    <div class="segment-error" [class.segment-error--hidden]="!segmentError">
      {{ segmentError || '\u00A0' }}
    </div>  
    <div class="segment-hint" *ngIf="segmentHint">{{ segmentHint }}</div>
    <div class="boundary-error" *ngIf="boundaryErrorMessage">{{ boundaryErrorMessage }}</div>
<div class="weight-indicator" [class.invalid]="isTotalWeightExceeded">
      Total weight: {{ totalWeight | number: '1.0-3' }} / {{ TOTAL_WEIGHT }}
    </div>
    <div class="weight-error" *ngIf="isTotalWeightExceeded">
      Total weight exceeds 100% by {{ totalWeightOverflow | number: '1.0-3' }}%. Adjust the segment weights.
    </div>
</div>