<div class="kt-portlet kt-portlet--height-fluid widget-full-height">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                {{ widgetConfigurationInDB?.name }}
                <button class="btn btn-sm btn-elevate-hover" *ngIf="editState" (click)="onNameEdit()">
                    <i class="fa fa-edit"></i>
                </button>
                <button class="btn btn-primary btn-sm" *ngIf="editState" (click)="edit()">{{ 'Edit' | localize }}</button>
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body table-body-flex" id="outerScroll">
        <div class="d-flex mb-2" style="gap: 12px">
            <div *ngIf="hasEventParameter()" class="row mb-2">
                <span style="margin: 0 12px;">{{'FilterEventBy' | localize}}</span>
                <div class="col">
                    <dx-radio-group
                        [items]="[{ text: 'Value', value: 'value' }, { text: 'Duration', value: 'duration' }]"
                        [(value)]="eventDisplayMode"
                        layout="horizontal">
                    </dx-radio-group>
                </div>
            </div>
    
            <div class="row mb-2">
                <span style="margin: 0 12px;">{{'SortBy' | localize}}</span>
                <div class="col">
                    <dx-radio-group
                        [value]="sortMode"
                        [items]="[
                        { value: 'value', text: 'Value' },
                        { value: 'color', text: 'Color' }]"
                        displayExpr="text"
                        valueExpr="value"
                        layout="horizontal"
                        (onValueChanged)="onSortModeChange($event.value)">
                    </dx-radio-group>
                </div>
            </div>
        </div>
                <div id="innerScroll" #treeContainer class="table-container flex-grow-1 notDraggable">
                    <div *ngIf="isLoading" class="loading-overlay">
                        <dx-load-indicator></dx-load-indicator>
                        <p>{{'LoadingData' | localize }}</p>
                    </div>
                    <dx-tree-list
                        *ngIf="dataSource && columns"
                        [dataSource]="dataSource"
                        [columns]="columns"
                        [filterRow]="{ visible: true }"
                        keyExpr="id"
                        parentIdExpr="parentId"
                        [autoExpandAll]="true"
                        [showRowLines]="true"
                        [showColumnLines]="true"
                        [columnAutoWidth]="true"
                        [allowColumnResizing]="editState"
                        [columnResizingMode]="'nextColumn'"
                        [columnMinWidth]="50"
                        [wordWrapEnabled]="true"
                        [showBorders]="true"
                        [rowAlternationEnabled]="tableWidgetConfiguration.designOptions?.bandedRows"
                        (onContentReady)="onContentReady()">
                  </dx-tree-list>
                </div>
            </div>
</div>

<ng-container *ngIf="isEditModalInitialized">
    <createOrEditTableConfiguration
        #createOrEditModal
        (onSave)="onConfigurationChange($event)"
        (onClose)="onEditModelClose($event)"
    ></createOrEditTableConfiguration>
</ng-container>

<ng-container *ngIf="editState">
    <rename-widget-modal #renameWidgetModal (onSave)="saveName($event)"></rename-widget-modal>
</ng-container>
