<form class="h-100 d-flex flex-column" #pqsForm="ngForm" novalidate (ngSubmit)="add()" autocomplete="off">
    <div class="row flex-grow-1" style="align-items: center">
        <form-container wrapperClass="col-2 pe-0 h-100">
            <label class="form-label p-2" for="group">{{ 'Group' | localize }} *</label>
                <i class="dx-icon-info info-icon-style" [id]="'GroupToolTipId'"></i>
                <div style="height: 335px">
                    <dx-scroll-view direction="vertical">
                        <p-listbox
                            id="group"
                            name="group"
                            [(ngModel)]="selectedCustomParameter"
                            (onChange)="onCustomParameterChange($event)"
                            [options]="customParameters"
                            optionValue="id"
                            [filter]="true"
                            [virtualScroll]="false"
                            [scrollHeight]="9999"
                            required
                        >
                            <ng-template let-customParameter pTemplate="item">
                                {{ getCustomParameterUI(customParameter) }}
                            </ng-template>
                        </p-listbox>
                    </dx-scroll-view>
                    <dx-tooltip
                        [target]="'#GroupToolTipId'"
                        showEvent="mouseenter"
                        hideEvent="mouseleave"
                        [hideOnOutsideClick]="false"
                        [textContent]="'Custom parameter name with its resolution in ()'"
                    ></dx-tooltip>
                </div>
        </form-container>

        <form-container wrapperClass="col-1 pe-0 h-100">
            <quantitySelector
                    id="quantity"
                    name="quantity"
                    [(ngModel)]="selectedQuantities"
                    [allowedQuantities]="quantityOptions"
                    [multiple]="_multiple"
                    [showTooltip]="true"
                    required
                />
        </form-container>
        <div class="col-auto h-100">
            <div class="d-inline-block p-2">
                <resolutionSelector
                    name="resolutionSelector"
                    [(ngModel)]="resolutionState"
                    (ngModelChange)="onResolutionChange()"
                    [onlyCustomAllowed]="true"
                    [minResolution]="minResolution"
                    [tooltip]="resolutionTooltip"
                />

                <div class="d-flex gap-6">
                    <div class="w-100">
                        <label class="form-label p-2 mt-3" for="operator">{{'Operator' | localize }} *</label>
                        <i class="dx-icon-info info-icon-style ml-2" id="operatorTooltip"></i>
                        <p-dropdown
                            id="operator"
                            inputId="operator"
                            name="operator"
                            class="w-100"
                            [(ngModel)]="selectedOperator"
                            [options]="operatorOptions"
                            optionLabel="name"
                            optionValue="name"
                            [showClear]="true"
                            (onChange)="onOperatorChange($event)"
                        ></p-dropdown>
                        <dx-tooltip
                            target="#operatorTooltip"
                            showEvent="mouseenter"
                            hideEvent="mouseleave"
                            [hideOnOutsideClick]="false"
                            [textContent]="'A function to apply on all the received values of the custom parameter'"
                        ></dx-tooltip>
                    </div>

                    <div class="w-100">
                        <ng-container *ngIf="['MULT', 'DIVIDE'].includes(selectedOperator)">
                            <label class="form-label p-2 mt-3" for="operatorArgument">{{'OperatorArgument' | localize }}</label>
                            <i class="dx-icon-info info-icon-style ml-2" id="operatorArgumentTooltip"></i>
                            <br />
                            <p-inputNumber
                                id="operatorArgument"
                                inputId="operatorArgument"
                                name="operatorArgument"
                                [(ngModel)]="selectedOperatorArgument"
                                mode="decimal"
                                [min]="0.01"
                                [step]="0.01"
                                [minFractionDigits]="0"
                                [maxFractionDigits]="2"
                                [showButtons]="true"
                                [showClear]="true"
                                required
                            ></p-inputNumber>
                            <br />
                            <small
                                class="p-error"
                                *ngIf="
                                    !selectedOperatorArgument ||
                                    (selectedOperator === 'DIV' && selectedOperatorArgument === 0)
                                "
                            >
                                {{
                                    selectedOperator === 'DIV'
                                        ? 'Argument cannot be 0 for DIV operator.'
                                        : 'Operator argument is required.'
                                }}
                            </small>
                        </ng-container>
                        <dx-tooltip
                        target="#operatorArgumentTooltip"
                        showEvent="mouseenter"
                        hideEvent="mouseleave"
                        [hideOnOutsideClick]="false"
                        [textContent]="'An argument for operators that require a parameter, e.g. ADD (7)'"
                    ></dx-tooltip>
                    </div>
                </div>

                <div class="d-flex gap-6">
                    <div class="w-100">
                        <label class="form-label p-2 mt-3" for="aggFunction">{{'InnerAggregationResolution' | localize }} *</label>
                        <i class="dx-icon-info info-icon-style ms-2" id="cpAggregationFunctionTooltipTarget"></i>
                        <p-dropdown id="aggFunction" inputId="aggFunction" name="aggFunction"
                            [(ngModel)]="selectedAggregationFunction" (ngModelChange)="onAggregationChange()"
                            [options]="aggregationFuncOptions" optionLabel="name" optionValue="name"
                            placeholder="Select Aggregation Function" [disabled]="isAggregationSelectionDisabled" 
                            [showClear]="true" [required]="!isAggregationSelectionDisabled" />
                        <dx-tooltip target="#cpAggregationFunctionTooltipTarget" showEvent="mouseenter"
                            hideEvent="mouseleave" [hideOnOutsideClick]="false"
                            [textContent]="'Set the function to be used to move from base parameter resolution to custom parameter resolution'" />
                    </div>

                    <div class="w-100">
                        <ng-container *ngIf="['PERCENTILE'].includes(selectedAggregationFunction)">
                            <label class="form-label p-2 mt-3" for="aggregationArgument">
                                {{'InnerAggregationResolution' | localize }}
                            </label>
                            <br />
                            <p-inputNumber id="aggregationArgument" inputId="aggregationArgument"
                                name="aggregationArgument" [(ngModel)]="selectedAggregationArgument" mode="decimal"
                                [min]="0.01" [max]="0.99" [step]="0.01" [minFractionDigits]="0" [maxFractionDigits]="2"
                                [disabled]="isAggregationSelectionDisabled" 
                                [showButtons]="true" [showClear]="true" [required]="!isAggregationSelectionDisabled" >
                            </p-inputNumber>  
                        </ng-container>
                        <advanced-settings
                            [config]="advancedSettingsConfig"
                            (configChange)="advancedSettingsConfig = $event"
                            [config]="advancedSettingsConfig"
                        ></advanced-settings>
                    </div>
                </div>
            </div>
        </div>
        <div  class="col-1 pe-0 h-100 d-flex flex-column align-items-center justify-content-center">
            <dx-button [useSubmitBehavior]="true" stylingMode="contained" type="default" style="min-width: 120px;"
                [disabled]="!isFormValid()">
                <span class="d-flex align-items-center">
                    <ng-container *ngIf="isEdit;else newParameter">
                        <i class="fa fa-save me-2" style="color: #ffff;"></i> {{'Save' | localize }}
                    </ng-container>
                    <ng-template #newParameter><i class="fa fa-plus me-2" style="color: #ffff;"></i> {{'Add' | localize }}
                    </ng-template>
                </span>
            </dx-button>
            <ng-container *ngIf="isEdit">
                <dx-button class="mt-1" (onClick)="finishEditing()" stylingMode="contained" type="danger" style="min-width: 120px;">
                    <span class="d-flex align-items-center">
                        {{'Cancel' | localize }}
                    </span>
                </dx-button>
            </ng-container>
        </div>
    </div>
    
</form>
