<div class="kt-portlet kt-portlet--height-fluid widget-full-height">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                {{ widgetConfigurationInDB?.name }}
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body bar-body-flex" id="outerScroll">
        <div [ngSwitch]="barChartConfiguration?.type" class="w-100 h-100">
            <div *ngSwitchCase="barChartType.Plain" style="height: 100px;" class="bar-chart-container flex-grow-1">
                <dx-chart id="chart" class="w-100 h-100" [dataSource]="dataSource">
                    <dxi-value-axis>
                        <dxo-title [text]="getToken(dataUnitType)"></dxo-title>
                    </dxi-value-axis>
                    <dxi-series argumentField="category" valueField="value" type="bar">
                    </dxi-series>
                    <dxo-common-series-settings argumentField="category" valueField="value" type="stackedBar"
                        hoverMode="allArgumentPoints" selectionMode="allArgumentPoints">
                        <dxo-label [visible]="true" [customizeText]="customizeLabelText"
                            [format]="{ type: 'fixedPoint', precision: '2' }">
                        </dxo-label>
                    </dxo-common-series-settings>
                    <dxo-series-template nameField="seriesName"></dxo-series-template> <dxo-legend
                        verticalAlignment="bottom" horizontalAlignment="center"></dxo-legend>
                    <dxo-export [enabled]="true"></dxo-export>
                    <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip"></dxo-tooltip>
                </dx-chart>
            </div>
            <div *ngSwitchCase="barChartType.Stacked" class="bar-chart-container flex-grow-1">
                <dx-chart id="chart" class="w-100 h-100" title="Component(s) Event(s) Count Stacked Bar"
                    [dataSource]="dataSource">
                    <dxi-value-axis>
                        <dxo-title [text]="getToken(dataUnitType)"></dxo-title>
                    </dxi-value-axis>
                    <dxo-common-series-settings argumentField="category" valueField="value" type="stackedBar"
                        hoverMode="allArgumentPoints" selectionMode="allArgumentPoints">
                        <dxo-label [visible]="true" [customizeText]="customizeLabelText"
                            [format]="{ type: 'fixedPoint', precision: '2' }">
                        </dxo-label>
                    </dxo-common-series-settings>
                    <dxo-series-template nameField="seriesName"></dxo-series-template> <dxo-legend
                        verticalAlignment="bottom" horizontalAlignment="center"></dxo-legend>
                    <dxo-export [enabled]="true"></dxo-export>
                    <dxo-tooltip [enabled]="true" location="edge" [customizeTooltip]="customizeTooltip">
                    </dxo-tooltip>
                </dx-chart>
            </div>
            <div *ngSwitchCase="barChartType.Clustered" class="bar-chart-container flex-grow-1">
                <dx-chart id="chart" class="w-100 h-100" title="Component(s) Event(s) Count Clustered Bar"
                    [dataSource]="dataSource">
                    <dxi-value-axis>
                        <dxo-title [text]="getToken(dataUnitType)"></dxo-title>
                    </dxi-value-axis>
                    <dxo-common-series-settings argumentField="category" valueField="value" type="bar">
                        <dxo-label [visible]="true" [customizeText]="customizeLabelText"
                            [format]="{ type: 'fixedPoint', precision: '2' }">
                        </dxo-label>
                    </dxo-common-series-settings>
                    <dxo-series-template nameField="seriesName"></dxo-series-template> <dxo-legend
                        verticalAlignment="bottom" horizontalAlignment="center" itemTextPosition="top">
                    </dxo-legend>
                    <dxo-export [enabled]="true"></dxo-export>
                    <dxo-tooltip [enabled]="true" location="edge" [customizeTooltip]="customizeTooltip">
                    </dxo-tooltip>
                </dx-chart>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="isEditModalInitialized">
    <createOrEditBarChartConfiguration #createOrEditModal (onSave)="onConfigurationChange($event)"
        (onClose)="onEditModelClose($event)">
    </createOrEditBarChartConfiguration>
</ng-container>

<ng-container *ngIf="editState">
    <rename-widget-modal #renameWidgetModal (onSave)="saveName($event)"></rename-widget-modal>
</ng-container>