<div class="d-flex flex-wrap align-items-end gap-4">
  <div class="d-flex flex-column">
    <label class="form-label">Header Background Color:</label>
    <dx-color-box 
      [(value)]="designOptions.headerBackgroundColor" 
      (onValueChanged)="updateDesignOptions()">
    </dx-color-box>
  </div>
  <div class="d-flex flex-column">
    <label class="form-label">Header Text Color:</label>
    <dx-color-box 
      [(value)]="designOptions.headerTextColor" 
      (onValueChanged)="updateDesignOptions()">
    </dx-color-box>
  </div>
  <div class="d-flex flex-column">
    <label class="form-label">Header Font Family:</label>
    <dx-select-box 
      [dataSource]="fonts" 
      displayExpr="name" 
      valueExpr="value"
      [(value)]="designOptions.headerFontFamily" 
      (onValueChanged)="updateDesignOptions()">
    </dx-select-box>
  </div>
  <div class="d-flex flex-column">
    <label class="form-label">Cell Font Family:</label>
    <dx-select-box 
      [dataSource]="fonts" 
      displayExpr="name" 
      valueExpr="value"
      [(value)]="designOptions.cellFontFamily" 
      (onValueChanged)="updateDesignOptions()">
    </dx-select-box>
  </div>
  <div class="d-flex flex-column">
    <label class="form-label">Border Color:</label>
    <dx-color-box 
      [(value)]="designOptions.borderColor" 
      (onValueChanged)="updateDesignOptions()">
    </dx-color-box>
  </div>
  <div class="d-flex flex-column">
    <label class="form-label d-block">Banded Rows:</label>
    <dx-check-box
      [(value)]="designOptions.bandedRows"
      (onValueChanged)="updateDesignOptions()">
    </dx-check-box>
  </div>
</div>
